@charset "utf-8";
/* CSS Document */

.displaybox
{
	position:absolute;
	left:500px;
	top:10px;
	background-color:rgba(0,0,0,0.4);
	height:950px;
	width:1250px;
	border-radius:15px;
}

.video1
{
	background-color:rgba(0,0,0,1);
	height:410px;
	width:720px;
	padding-left:20px;
	padding-top:20px;
	margin-top:30px;
	margin-left:20px;
	border-radius:16px;
}

.video2
{
	background-color:rgba(0,0,0,1);
	height:243px;
	width:420px;
	padding-left:20px;
	padding-top:20px;
	border-radius:16px;
	position:absolute;
	left:780px;
	top:120px;
}

.video3
{
	background-color:rgba(0,0,0,1);
	height:243px;
	width:420px;
	padding-left:20px;
	padding-top:20px;
	border-radius:16px;
	position:absolute;
	left:20px;
	top:580px;
}

.frame
{
	background-color:rgba(0,0,0,1);
	height:410px;
	width:720px;
	padding-left:20px;
	padding-top:20px;
	margin-top:30px;
	margin-left:480px;
	border-radius:16px;
}

